<mat-card *ngIf="friendList && friendList.length > 0; else noFriends">
  <mat-card-content>
    <mat-nav-list>
      <h2 matSubheader>Friends:</h2>
      <mat-list-item *ngFor="let friend of friendList">
        <img matListAvatar src="{{friend.profilePicture.mediaUrl}}">
        <a matLine [routerLink]='["/profile", friend.id]'>
          {{friend.name}} {{friend.surname}}
        </a>
        <button mat-icon-button (click)="removeFriend(friend.id)">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
<ng-template #noFriends>
  <mat-card>
    <mat-card-content style="text-align: center;">
      <mat-card-title>Sorry!</mat-card-title>
      <mat-card-subtitle>You have not added any friends yet!</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</ng-template>
