<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
  <div *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="{{post.author.profilePicture?.mediaUrl}}" />
        <mat-card-subtitle>
          <div class="display-inline">
            {{post.author.name}} {{post.author.surname}}
            <div *ngIf="showRecipient && post.author?.id != post.wallOwner?.id">
              &nbsp;>>&nbsp;{{post.wallOwner.name}} {{post.wallOwner.surname}}
            </div>
          </div>
        </mat-card-subtitle>
        <mat-card-subtitle>{{post.createdAt | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{post.content}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
