<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
  <div *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="../../../assets/images/default-profile-pic.png" />
        <mat-card-title>
          To: {{post.wallOwner.name}} {{post.wallOwner.surname}} |
          From: {{post.author.name}} {{post.author.surname}}
        </mat-card-title>
        <mat-card-subtitle>{{post.createdAt | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{post.content}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
