<div class="wrapper">
  <div class="overlay">
    <div class="spinner-wrapper">
      <div class="container">
        <div class="row">
          <div id="loader">
              <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
        <div class="row">
          <div class="spinner-message">
            <p>{{message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
