<mat-card>
  <mat-card-content>
    <form (ngSubmit)="addPost()" [formGroup]="postForm" fxLayout="column" fxAlign="start stretch">

      <input formControlName="author" hidden />
      <input formControlName="wallOwner" hidden />

      <mat-form-field>
        <textarea matInput rows="4" formControlName="content" placeholder="Post content:"></textarea>
      </mat-form-field>

      <button mat-raised-button color="accent"type="submit">Add</button>

    </form>
  </mat-card-content>
</mat-card>
