<mat-card *ngIf="postsList$ | async as postsList">
  <mat-card-content>
    <mat-nav-list>
      <h2 matSubheader>posts:</h2>
      <mat-list-item *ngFor="let post of postsList">
        <img matListAvatar src="{{post.author.profilePicture.mediaUrl}}">
        <a class="user-data-wrapper" [routerLink]='["/profile", post.author.id]'>
          {{post.author.name}} {{post.author.surname}}
        </a>
        <p class="post-shortform">
          {{post.content}}
        </p>
        <button mat-raised-button class="button-wrapper" color="accent" (click)="deletePost(post.id)">Delete</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
