<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
  <div *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="{{post.author.profilePictureUrl}}" [routerLink]='["/profile", post.author.id]'/>
        <mat-card-subtitle>
          <div class="display-inline">
            <span [routerLink]='["/profile", post.author.id]'>{{post.author.firstName}} {{post.author.lastName}}</span>
            <div *ngIf="showRecipient && post.author?.id != post.wallOwner?.id">
              &nbsp;>>&nbsp;<span [routerLink]='["/profile", post.wallOwner.id]'>{{post.wallOwner.firstName}} {{post.wallOwner.lastName}}</span>
            </div>
          </div>
        </mat-card-subtitle>
        <mat-card-subtitle>{{post.createdAt | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{post.content}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
