<mat-card *ngIf="friends && friends.length > 0">
  <mat-card-content>
    <mat-nav-list dense>
      <mat-list-item *ngFor="let friend of friends">
        <img matListAvatar src="../../../../../assets/images/default-profile-pic.png">
        <a matLine [routerLink]='["/profile", friend.id]'>{{friend.name}} {{friend.surname}}</a>
        <button mat-icon-button (click)="removeFriend(friend.id)">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
