<h1>Tests</h1>

<p>Testing component</p>
<hr>

<div>
  <h2>Users authorized endpoint test</h2>
  <button (click)="testAuthEndpoint()">Test</button>
  <div *ngIf="authTest">
    <p *ngIf="!users && !authErrorText"><em>Loading...</em></p>
    <table class='table' *ngIf="users">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Password</th>
          <th>Created at:</th>
          <th>Modified at:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.createdAt }}</td>
          <td>{{ user.modifiedAt }}</td>
        </tr>
      </tbody>
    </table>
    <div class="bg-danger" *ngIf="authErrorText">
      <p class="text-danger">{{authErrorText}}</p>
    </div>
  </div>
  <hr>
</div>
