<div *ngIf="(profile$ | async) as profile; else loading">
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px grid">
    <div fxFlex="1 0.5 200px" fxFlex.lt-sm="60" fxLayout="column" fxLayoutGap="10px">
      <app-user-profile [user]="profile"></app-user-profile>
      <app-friend-list [friends]="profile.friends" fxShow.gt-xs="true" fxShow.lt-sm="false"></app-friend-list>
    </div>

    <div fxFlex="60%" fxFlex.lt-sm="80">
      <div *ngIf="profile.posts.length > 0; else noPosts">
        <app-post-list [posts]="profile.posts"></app-post-list>
      </div>

      <ng-template #noPosts>
        <mat-card>
          <mat-card-content style="text-align: center;">
            <mat-card-title>Sorry!</mat-card-title>
            <mat-card-subtitle>This user doesn't have any posts yet!</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>

  </div>
</div>
<ng-template #loading>
  <app-spinner-overlay></app-spinner-overlay>
</ng-template>
