<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" *ngIf="loggedUser as user">
    <mat-card>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <div style="padding: 20px;">
          <div>
            <a>
              <!-- Only temporary use until user profile pic is used -->
              <img class="circle" src="../../../assets/images/default-profile-pic.png" width="100">
            </a>
          </div>
        </div>
        <a mat-button (click)="linkClick()" [routerLink]='["/profile", loggedUser.id]'>
          {{user?.name}} {{user?.surname}}
        </a>
        <span style="font-size: 11px">{{user?.email}}</span>
      </mat-card-content>
    </mat-card>
    <mat-nav-list>
      <a mat-list-item (click)="linkClick()" [routerLink]='["/"]'
        routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">
          Wall
      </a>
      <a mat-list-item (click)="linkClick()" [routerLink]='["/post"]' routerLinkActive="link-active">Post</a>
      <a mat-list-item (click)="linkClick()" [routerLink]='["/testing"]' routerLinkActive="link-active" style="color: red;">TESTING</a>
    </mat-nav-list>
    <app-friend-list [friends]="userFriends"></app-friend-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <button mat-icon-button (click)="toggleSideNav()" *ngIf="loggedUser">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button [routerLink]='["/"]'>
        <mat-icon class="mr-1">home</mat-icon>
        SocialMedia App :)
      </button>
      <span class="spacer"></span>
      <div *ngIf="loggedUser; let user">
        <div fxShow.lt-md="false" fxShow.gt-sm="true">
          <button mat-button>
            <mat-icon>account_circle</mat-icon>
            <span> {{user?.name}} {{user?.surname}}</span>
          </button>
          <button mat-button title="Logout" (click)="authService.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span> Logout</span>
          </button>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="accToolbarMenu" fxShow.lt-md="true" fxShow.gt-sm="false">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #accToolbarMenu="matMenu" overlapTrigger="false">
            <button mat-menu-item [routerLink]="['/profile', loggedUser.id]">
              <mat-icon>account_circle</mat-icon>
              <span>{{user?.name}} {{user?.surname}}</span>
            </button>
            <button mat-menu-item (click)="authService.logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div *ngIf="!loggedUser">
        <button mat-icon-button [routerLink]="['/auth']" fxShow.lt-md="true" fxShow.gt-sm="false">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-button [routerLink]="['/auth']" fxShow.lt-md="false" fxShow.gt-sm="true">
          <mat-icon>account_circle</mat-icon>
          <span> Login </span>
        </button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
